@import '../../variables.scss';

.body {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.sketches {
  width: 100%;
  height: auto;
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: var(--base-transition);

  &_show {
    opacity: 1;
    max-height: 80px;
    margin-bottom: var(--base-indent);
  }

  @media (min-width: $sm) {
    width: 100%;
  }

  @media (min-width: $lg) {
    margin-top: var(--base-indent);
    margin-bottom: 0;
    opacity: 1;
    max-height: initial;
  }
}
